.swiper-pagination-bullet {
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	background: rgba(236, 173, 173, 0.2);
	border: solid 2px #FF9800;
}

.swiper-pagination-bullet-active {
	color: #ff9800;
	background: #ff9800;
}

.speakersSwiper .swiper-pagination {
	@apply bottom-0;
}
